body { font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, sans-serif; margin:0;}
.ui-widget { font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif; font-size: 13px; }
.ui-menu-divider { color: #2779aa; }
.hidden {display: none;}
.private {display: none;}
.ui-tabs .ui-tabs-panel { padding: 0.7em 0em 0.5em 0em; }
.loading { background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat; }
.sc {text-transform: uppercase;}
.ui-autocomplete { max-height: 300px; overflow-y: scroll; overflow-x: hidden;}

.pictures {
   max-width: 100%;
   max-height: 100%;
}

figure { margin: 2px; }

#search_text {
   margin: 0px 30px 0px 10px;
   height: 20px;
   width: 250px;
}

.key { font-weight: bold; color: red; }
.hit { font-family: 'Arial Narrow', Arial; color: red; }

#help {
   position: absolute;
   left: 300px;
   top: 200px;
   padding: 1.2em;
   font-size: 14px;
}

.ui-tooltip { text-align: center; }

.toc li {
   line-height: 140%;
   padding-bottom: 7px;
}

.toc_container {
   font-family: 'Arial Narrow', Arial;
   padding: 0px;
   font-size: 14px;
   overflow-y: scroll;
}

legend { font-weight: bold; }
.uxtra { font-size: 15px; }
#radioset { padding-right: 10px; }

.headers {
   border: solid darkgrey 2px;
   white-space: nowrap;
   padding-top: 12px;
   position: relative;
}

.col0,#col0rad { color: black; background: #f4f4ed; }
.col1,#col1rad { color: black; background: #fffae6; }
.col2,#col2rad { color: black; background: #e6fdeb; }
.col3,#col3rad { color: black; background: #ffefe4; }
.col4,#col4rad { color: black; background: #cfffff; }
.col5,#col5rad { color: black; background: #e6fccc; }
.col6,#col6rad { color: black; background: #f0f0bb; }

.colclose {
   position: absolute;
   right: 4px;
   top: 4px;
}

.coltxt h4,#search_results h4 { text-align: center; text-transform: uppercase; font-family: 'Arial Narrow', Arial; }
.coltxt sup,#search_results sup,#notes sup {
   font-family: 'Arial Narrow', Arial;
   font-size: 0.7em;
   font-weight: bold;
   color: blue;
   vertical-align: text-top;
}

.coltitle {
   font-family: 'Arial Narrow', Arial;
   padding: 5px;
   font-size: 14px;
   text-transform: uppercase;
}

.container div { float: left; }

.coltxt,#search_results,#notes {
   overflow-y: scroll;
   overflow-x: scroll;
   text-align: justify;
   padding: 0px 1%;
   font-family: 'Georgia', 'Arno Pro', 'Garamond Premier Pro', 'Minion Pro', 'GoudyOlSt BT';
}

a: { color: blue; }
a:hover, a:focus { color: #018fe2; }
a, a:hover, a:active, a:focus { text-decoration: none; }

.custom-combobox {
   position: relative;
   display: inline-block;
}
.custom-combobox-toggle {
   position: absolute;
   top: 0;
   bottom: 0;
   margin-left: -30px;
   padding: 0;
}
.custom-combobox-input {
   margin: 0;
   padding: 5px 10px;
}

